@media screen and (max-width: 1024px) {
  .header__person-img {
    width: 26rem;
    height: 26rem;
  }

  .header__content {
    margin-left: 5rem;
  }

  .header__profession-wrapper {
    margin-bottom: 1rem;
  }

  .header__profession-description {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-block: 1rem;
  }

  /* COMPANY STYLES STARTS */
  .companies {
    margin-block: 8.5rem;
  }

  .company__description {
    font-size: 1.2rem;
  }

  .company__logos {
    width: 31rem;
    grid-template-columns: repeat(2, minmax(12.5rem, auto));
    height: auto;
  }

  .company__logo-wrapper {
    padding: 1rem;
  }

  .company__logo-wrapper img {
    width: 8.5rem;
  }

  /* COMPANY STYLES ENDS */

  /* CLIENT STYLES START */
  .client {
    gap: 1.5rem;
    align-items: center;
  }

  .client__review-card {
    padding: 1.8rem;
  }

  .client__review-text {
    font-size: 1.3rem;
  }

  .client__content {
    gap: 2rem;
  }

  .client__right-img {
    width: 25rem;
    height: 100%;
  }
  /* CLIENT STYLES ENDS */

  .about-card {
    padding: 2rem;
    gap: 2rem;
    margin-inline: 1rem;
  }

  .qualification {
    padding-top: 15rem;
    flex-wrap: wrap;
  }

  .qualification__education,
  .qualification__work-history,
  .qualification__tool-i-use {
    flex: 1 1 33%;
    gap: 2rem;
  }

  .work {
    flex-direction: column;
    padding-block: 5rem;
    gap: 5rem;
  }
  .work__right-process-wrapper {
    grid-template-columns: repeat(3, auto);
  }

  .service {
    padding-block: 5rem;
  }

  .service__card-wrapper {
    flex-wrap: wrap;
  }
  .awards {
    margin-block: 5rem;
    flex-direction: column;
    gap: 3rem;
  }

  .projects__project-wrapper {
    flex-direction: column;
  }
}

/* 768px */
@media screen and (max-width: 768px) {
  .md-flex-wrap {
    flex-wrap: wrap;
  }
  .md-flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .md-fd-column {
    flex-direction: column;
  }

  /* Primary navbar */
  .primary-navbar {
    padding-block: 0.8rem;
  }

  .menu-bar-wrapper {
    display: flex;
  }

  .navbar__list-wrapper {
    display: none;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--gray-50);
    padding: 0.8rem;
    border-radius: 0.4rem;
    box-shadow: 0px 10px 20px 0px rgb(18 19 20 / 25%);
    position: absolute;
    top: 60px;
    right: 10px;
    animation: fadeInRight 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  @keyframes fadeInRight {
    from {
      opacity: 0.3;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .navbar__list-email {
    padding: 0.5rem 1rem;
  }

  /* Button */
  .btn {
    font-size: 1.12rem;
    line-height: 3rem;
  }

  .header {
    margin-block: 2rem 4rem;
  }

  .header__content {
    margin-left: 0;
    margin-top: 2rem;
  }

  .companies {
    margin-block: 1.5rem;
  }

  .company__content {
    max-width: fit-content;
  }

  .company__description {
    max-width: fit-content;
  }

  .company__logos {
    width: fit-content;
  }

  .client {
    margin-block: 5.25rem;
    flex-direction: column-reverse;
  }

  .about__white-bg {
    display: none;
  }

  .about-card {
    flex-direction: column;
    position: relative;
    transform: translate(0);
    left: 0;
    margin-inline: 0;
  }

  .qualification {
    padding-top: 3rem;
  }

  .work__right-process-wrapper {
    grid-template-columns: repeat(2, auto);
  }
}

/* 415px */
@media screen and (max-width: 415px) {
  .primary-navbar {
    padding-block: 0.5rem;
  }

  .header__person-img {
    width: 21rem;
    height: auto;
  }

  .header__profession-line {
    display: none;
  }

  .header__profession-text {
    border-left: 3px solid var(--primary-color);
    padding-left: 1rem;
  }

  .header__title,
  .company__title {
    font-size: 2.4rem;
    line-height: 3rem;
  }

  .company__logos {
    grid-template-columns: repeat(2, auto);
  }

  .company__logo-wrapper {
    padding: 0.8rem;
  }

  .header__profession-description,
  .company__description {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .header__button-wrapper {
    flex-direction: column;
  }

  .client__right-img {
    width: 20rem;
  }

  .client__title {
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
  }

  .client__review-card {
    padding: 1rem;
    width: 100%;
  }

  .client__review-text {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .client__reviewer-name {
    font-size: 1.2rem;
  }
  .client__reviewer-occupation {
    font-size: 1rem;
  }

  .client__review-control {
    justify-content: center;
  }

  .qualification {
    flex-direction: column;
    gap: 4rem;
  }

  .tools__wrapper {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .tool {
    width: 100%;
  }

  .about__btn-wrapper {
    width: 100%;
  }

  .work {
    gap: 3rem;
  }

  .work__left-email {
    font-size: 1.8rem;
  }

  .qualification {
    padding-bottom: 5rem;
  }

  .work__left-divider {
    margin-block: 2rem;
  }

  .work__right-description {
    margin-block: 1rem 2rem;
  }
  .work__right-title,
  .service__title,
  .awards__right-title {
    font-size: 2.5rem;
  }

  .work__right-process-wrapper {
    grid-template-columns: repeat(1, auto);
    justify-content: center;
  }

  .service {
    padding-top: 0;
  }
  .service__content {
    gap: 3rem;
  }

  .service__card-wrapper {
    justify-content: center;
  }

  .awards {
    margin-block: 4rem;
  }

  .awards__card {
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 10px #0000001a;
  }

  .awards__right-language-wrapper strong {
    flex: 1 0 45%;
  }

  .awards__right-language-wrapper {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .projects__project-card {
    min-width: 100%;
    min-height: auto;
  }

  .projects__arrow {
    display: none;
  }

  .projects__heading {
    font-size: 2rem;
  }

  .projects {
    margin-block: 4rem;
    gap: 2rem;
  }

  .project__card-title {
    font-size: 1rem;
  }

  .project__card-desc {
    display: none;
  }

  .footer__contact-wrapper {
    flex-direction: column;
  }

  .footer__contact-card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.4rem;
  }

  .footer__contact-wrapper:no-button {
    background-color: #f00;
  }

  .footer__title {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .footer__content {
    padding-block: 5rem;
    gap: 2.5rem;
  }

  .footer__bottom {
    padding-block: 1rem;
  }

  .footer__bottom-text {
    text-align: center;
  }
}
